.background{
    background-color: teal;
    height: 100%;
}
#lastname
{
    margin-left:20px
      
    }
    #bigText
    {
        color:white;
    }
    #smalltext
{
  color: white;
    
    
    }
    