<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-------------------------------------Template Driven Form----------------------------------------------->
<!--

<h1>Sign-Up Forms</h1>
<form #signupform="ngForm" (ngSubmit)="onSubmit(signupform)" >

    <div class="form-group">

        <label for="firstName">First Name</label>
        <input type="text" class="form-control" required name="first_name" [(ngModel)]="first_name">
        <h1>{{first_name}}</h1>

    </div>
    Pristine {{signupform.controls['first_name'].pristine}}
    Touched {{signupform.controls['first_name'].touched}}
    Valid {{signupform.controls['first_name'].valid}}
    Invalid {{signupform.controls['first_name'].invalid}}
<div class="alert alert-danger" *ngIf="signupform.controls['first_name'].touched==true && signupform.controls['first_name'].invalid==true ">
    First Name is required
</div>



    <div class="form-group">

        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name" >
        <h1>{{last_name}}</h1>

    </div>

<button type="submit" class="btn btn-success" [disabled]="signupform.controls['first_name'].invalid==true">Submit</button>

</form>
-->
<!------------------------------------------------------------------------------------------------------------------------------>

<!---------------------------------------Reactive Form--------------------------------------------------------------------------------------->

<div class="row background">
    <div class="col-sm-6 background-left p-5 pb-5">
        <h1 >Your Blog</h1>
        <br>
        <h2>Don't Just Think , Blog It!</h2>
        <br>
        <br> <br> <br> <br> <br> <br> 
        <footer>Developed By- Prince Kasaudhan</footer>
    </div>

    <div class="col-sm-6 background-left p-5 pb-5">

             <div class="row">

      <div class="offset-sm-0 col-sm-12">
          <div class="card-body">
              <div class="card-title text-center">

               <h5 id="bigText">Sign Up For Free</h5>

              </div>
                <div class ="card-text">
                    
                    <form  [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">     <!-- formGroup and ngSubmit directive used-->

                      <div class="form-row">
                        <div class="form-group col-sm-6" >
                            <input type="text" class="form-control" placeholder="First Name" [formControl]="myForm.controls['firstName']">
                        </div>

                        <div class="form-group col-sm-6" >
                            <input type="text" class="form-control" placeholder="Last Name" [formControl]="myForm.controls['lastName']">
                        </div>
                     </div>
                     <div class="alert alert-danger"  *ngIf="(!myForm.controls['firstName'].valid || !myForm.controls['lastName'].valid) && (myForm.controls['firstName'].touched || myForm.controls['firstName'].touched)">First and Last name are required</div>
                     <div class="form-group">

                        <input type="email" placeholder="Enter Your Email" required class="form-control" [formControl]="myForm.controls['email']">
                       <small id="smalltext">We'll never share your mail</small>
                     </div>

                     <div class="alert alert-danger" *ngIf="(!myForm.controls['email'].valid && myForm.controls['email'].touched)">Valid Email are required</div>
                     


                     <div class="form-row">

                     <div class="form-group">
                         <input type="password" class="form-control" placeholder="Password" [formControl]="myForm.controls['password']">
                            </div>
                           <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" [formControl]="myForm.controls['confirmPassword']">

                           </div>
                     </div>
                     {{myForm.controls['confirmPassword'].errors | json}}
                     <div class="alert alert-danger" *ngIf="(!myForm.controls['password'].valid && myForm.controls['password'].touched) && (!myForm.controls['confirmPassword'].valid ||myForm.controls['confirmPassword'].touched)">8 Character Password are required</div>
                     
                     <div class="text-center"> 
                         <button type="submit" [disabled]="!myForm.valid" class="btn btn-block btn-warning">Submit</button>
                     </div>
                    

                    </form>
                  

                </div>
               
          </div>
                            <div class="alert alert-success" *ngIf="message.length > 0">
                                   {{message}}
                            </div>


                                    <div class="alert alert-danger" *ngIf="userError" >
          
                                       {{userError.message}}      <!-- this is code which is generated by the firebase to display the error message-->
                
                                    </div>
                                   
      </div>

  </div>
  <div class="text-center mt-3" >
             
    <button class="btn btn-link" id="smalltext" routerLink="/login">Login To Account</button>

</div>  
</div>

</div> 




















