<app-sign-up></app-sign-up>

<div class="row">

    <div class="col-sm-6 text-right pt-3">
       <img class="align-middle m-5"
       src="/assets/What-Is-Scribe-Image.png" height="300px">
    </div>
    <div class="col-sm-4">

        <h2 class="mx-5 my-5">What Is Your Blog ?</h2>
        <h6 class="mx-5 my-1">Your Blog is thought sharing platform where you share your thoughts and the craziest idea whith the world.You can also interact with other user by commenting in their posts.<br><br>Create a free acount and get started ,have fun.<br><br>Let's get started</h6>
    
    </div>
  
</div>


<hr>



<hr>
<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
        <h5>Contact Us</h5>

        <div class="row">
            <div class="offset-sm-2 col-sm-4 text-left pt-5  vertical-divider mt-5 px-5">
                <i class="fa fa-phone mt-3"></i> 9839076595
                <br>
                <i class="fa fa-envelope mt-3"></i> pkasaudhan93@gmail.com
                <br>
                <i class="fa fa-facebook mt-3"></i> Prince Kasaudhan
                <br>

            </div>

             <div class="col sm-6 text-left py-5 my-5 px-5">
                <i class="fa fa-map-marker mt-3"></i> KM-29 Kosmos ,<br>  floor-15 flat-1503<br>Noida , India



             </div>
        </div>



    </div>




</div>
